!!! 5
%html
  %head
    %title= @title
    %link{:rel => "stylesheet", :href => "css/screen.css"}
    <!--[if lte IE 8]><script>(function(){var e="abbr,article,aside,audio,canvas,datalist,details,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(','),i=e.length;while(i--){document.createElement(e[i]);}}());</script><![endif]-->
  %body.index
    .container
      .inner
        %header.main-header
          .inner
            %hgroup
              %h1= @h1
              %h2= @h2
        .main-content
          .inner
            = yield
        %footer.main-footer
          .inner
            %p 
              %small Don't that beat all?