- @layout = "application"
- @pageTitle = "Page Title"

/ %h2.pp_headline Secret headline!

%article
  %hgroup
    %h2 Headline
    %h3 Subheadline
  %p Etiam vel tellus purus. Integer vel diam ac nisl convallis viverra a convallis diam. Sed sit amet rhoncus enim. Quisque sed commodo nibh. Quisque pellentesque, ipsum vel tincidunt pharetra, mauris ligula cursus eros, id euismod nunc nibh pulvinar turpis. Aliquam vel ligula velit, quis accumsan tortor. Fusce nisi sapien, posuere malesuada ultricies non, posuere a tortor. Duis eget tortor urna, a lobortis diam. Curabitur id tristique turpis. Sed eros lorem, pretium in placerat in, pellentesque sed leo. Sed dictum lectus pharetra dolor consectetur sed aliquet leo vulputate. Pellentesque a arcu nunc, et aliquam lectus. Suspendisse potenti. Praesent at dolor ut est lacinia tincidunt. In ultrices massa in quam tincidunt auctor. Quisque non tortor condimentum nulla condimentum accumsan.

  %p Donec eu sapien sit amet metus faucibus fermentum. Suspendisse id orci nec libero commodo laoreet. Etiam scelerisque vestibulum rutrum. Quisque id lectus nec diam blandit porttitor at consequat orci. Donec sed massa et velit suscipit condimentum. Sed ut neque mi, sed malesuada tellus. Proin et mauris at magna gravida ullamcorper a et sapien. Vivamus nec lectus nec eros feugiat accumsan. Nunc nisl neque, porttitor quis vulputate eu, luctus vel nisl. Nunc consequat risus in arcu placerat a adipiscing lacus sagittis. Sed pretium tempor porta. Mauris ut ultrices ipsum. Etiam porttitor euismod tempus. Etiam fringilla mauris vel lorem lacinia posuere. Aliquam nec euismod risus. Donec tincidunt justo eget orci sagittis facilisis.

  = partial('widget_modal')