// Colors
// -----------------------------------------

// Optaros Primary Colors
$oBlue: #577DB2
$oOrange: #CF6029
$oGrey: #B7B1A4

// Optaros Secondary Colors
$oBlack: #1A1919
$oSemiBlack: #636463
$oTan: #BCBA94
$oTeal: #5A938C
$font-color: #333

// Grids
// -----------------------------------------

// Configurable Varibles
// The number of columns in the grid.
$blueprint-grid-columns : 24
// The width of a column
$blueprint-grid-width   : 30px
// The amount of margin between columns
$blueprint-grid-margin  : 10px

// Constants
// $blueprint-grid-outer-width: 40px //($blueprint_grid_width + $blueprint_grid_margin)
// $blueprint-container-size: 950px //($blueprint_grid_outer_width * $blueprint_grid_columns - $blueprint_grid_margin)

// Imports
// -----------------------------------------
// …from compass
@import compass/reset
@import compass/utilities

// …from fancy-buttons
@import fancy-buttons

// …from blueprint
// (all styles)
@import blueprint
+blueprint

// Individual styles (uncomment above)
// @import blueprint/colors
// @import blueprint/debug
// @import blueprint/form
// @import blueprint/grid
// @import blueprint/ie
// @import blueprint/interaction
// @import blueprint/print
// @import blueprint/typography
// @import blueprint/utilities