// Put your typography styles in this stylesheet
body
  color: $oBlack
h1
  color: $oBlue
h2
  color: $oOrange
h3
  font-size: 18px
  color: $oSemiBlack
h4
  font-size: 15px
h5
  font-size: 1em
  text-transform: uppercase

// LoVe HAte
a:link
  color: darken($oTeal,20%)
a:visited
  color: $oTeal
a:hover
  color: $oOrange
a:active
  color: $oSemiBlack
  
// Generic Content
p,li
  margin:
    bottom: 1em