// Simplemodal
// =============================== //
.simplemodal-overlay
  background: black
.simplemodal-container
  width: 660px
  height: 340px
  background: white
  +box-shadow()
  position: relative
  text-align: center
.simplemodal-close:link
  position: absolute
  top: 0
  right: 0
  text-transform: uppercase
  background: $oTeal
  color: white
  text-decoration: none
  font-size: smaller
  padding: 0 4px
.simplemodal-close:hover
  background: $oOrange
.overlay,.overlay:link
  +fancy-button-structure
  +fancy-button-colors($oBlue)
  +fancy-button-size(18px,4px,2px)
  color: white
// =============================== //