%ul.tabs
  %li= link "Tab 1", "#"
  %li= link "Tab 2", "#"
  %li= link "Tab 3", "#"

.panes
  %div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel libero nulla. Sed fermentum feugiat sapien at bibendum. In consectetur nisl ut nibh sagittis sollicitudin. Proin dui felis, bibendum ac elementum sed, elementum nec orci. Maecenas convallis lorem non lacus iaculis aliquam. Ut ut massa eu diam convallis suscipit. Sed id orci ac velit facilisis consequat in ac turpis. In a enim vel ipsum blandit rhoncus nec at dolor. Sed elementum turpis diam. Pellentesque convallis scelerisque est et porttitor. Mauris a diam in urna eleifend dignissim at vitae mauris.
	
  %div Morbi malesuada faucibus dolor sed pretium. Aenean sagittis nunc at magna scelerisque ornare. Etiam sem mi, mollis eget aliquam eget, consequat id arcu. Nulla porttitor, lorem sed sollicitudin placerat, justo risus cursus lorem, porttitor sagittis nisi purus ut diam. Aliquam mauris risus, adipiscing eget varius ac, ultricies ac turpis. Phasellus malesuada sollicitudin ligula vitae vestibulum. Nulla in felis dolor. Maecenas ultrices libero et felis dignissim eget fermentum massa cursus. Duis tempus purus et lectus convallis quis ornare enim feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
	
  %div Suspendisse vitae augue enim, ut rutrum nisl. Suspendisse sed risus felis, quis iaculis augue. Quisque suscipit tristique lacinia. Morbi est purus, condimentum gravida ullamcorper et, tristique eget est. Cras eu nibh ipsum, non bibendum nisi. Duis tempor eleifend rutrum. Sed id viverra est. In scelerisque diam scelerisque purus ultricies in commodo nibh scelerisque. Suspendisse potenti. Nam at lorem eu arcu tincidunt blandit vel non augue. Proin egestas tincidunt est, eget feugiat justo consectetur eu. Duis rutrum tempus velit, sed aliquet turpis tincidunt sed. Integer tristique dapibus nunc facilisis facilisis. Integer blandit, ligula vitae commodo sodales, enim mauris mollis nisi, sit amet dignissim sem metus non diam. Nullam luctus, purus quis adipiscing tristique, quam ante venenatis nibh, ut ullamcorper felis metus vel dolor.